# eslint
.eslintrc.json

# module output
positions.json
opcodes.json
groups.json
out
logs
opcodes

# SHAGen tool
SHAGen.exe
SHAGen.exe.config
Newtonsoft.Json.dll
generated-manifest.json